@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  padding: 1rem;

  @include tablet {
    padding: 2.5rem;
  }

  @include desktop {
    padding: 2.5rem 8.5rem 0 1rem;
  }

  &__header {
    margin-bottom: 1rem;
    font-size: $labels-btns;
    color: $brainflix-mercury;
    letter-spacing: 1.2px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    border-radius: $border-radius;
    overflow: hidden;
    transition: 0.5ms ease-in-out;
    padding-top: 0.4rem;

    &:hover {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    }
  }

  &__poster {
    border-radius: $border-radius;
    object-fit: cover;
    width: 150px;
    height: 100px;
    background-color: $brainflix-mercury;
  }

  &__text {
    padding: 0.4rem 1rem 0 1rem;
    flex: 1;
  }
  &__title {
    font-size: $body-copy-2;
    padding-bottom: 1rem;
    font-weight: 600;
    color: $brainflix-black;

    @include tablet {
      font-size: $body-copy;
    }
  }
  &__author {
    font-size: 0.8rem;
  }
}
