@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  background-color: $brainflix-blue;
  padding: 0.8rem 1rem 0.8rem 1rem;
  color: $brainflix-white;
  border-radius: $border-radius;
  border: none;
  font-size: $labels-btns-2;
  font-family: $font-family;
  font-weight: 600;
  @include flex-center;
  width: 100%;

  @include tablet {
    padding: 0 1rem;
    width: fit-content;
  }

  @include desktop {
    width: 50%;
  }

  &:hover {
    background-color: $brainflix-Darkblue;
  }

  &__icon {
    padding: 0 2rem 0 0;
  }
}
