@use "../partials/typography" as *;

$font-family: "AvenirNext";

// PRIMARY COLORS
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$brainflix-silver: #afafaf;
$brainflix-white: #fff;

// SECONDARY COLORS
$brainflix-Darkblack: #000;
$brainflix-Darkblue: #0065ad;
$brainflix-mercury: #e1e1e1;
$brainflix-alabaster: #fafafa;
$brainflix-formerror: #d22d2d;

// FONT-SIZES
$heading-1: 2.063rem;
$heading-2: 1.5rem;
$section-header: 0.75rem;
$body-copy: 0.875rem;
$body-copy-2: 0.813rem;
$labels-btns: 0.75rem;
$labels-btns-2: 0.625rem;

// PADDING
$padding-1: 2.25rem;
$padding-2: 1.5rem;
$padding-3: 1rem;

// MEDIA QUERY
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Border RADIUS
$border-radius: 4px;
