@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  padding: 0 1rem;

  @include tablet {
    padding: 0 $padding-1;
  }

  &__length {
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  &__field {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      align-items: flex-end;
    }
  }

  &__right {
    width: 80%;
  }

  &__img {
    margin-top: 3rem;
  }

  &__label {
    color: $brainflix-silver;
    font-size: $labels-btns;
    @include tablet {
      margin-bottom: 1rem;
    }
  }

  &__form {
    width: 100%;
  }

  &__div {
    @include tablet {
      display: flex;
      justify-content: space-between;
      height: 4vh;
    }
  }

  &__textarea {
    width: 100%;
    height: 10vh;
    margin: 1rem 0;
    padding: 0.75rem;
    border: 1px solid $brainflix-mercury;
    outline: $brainflix-mercury;
    border-radius: $border-radius;
    background-color: $brainflix-alabaster;

    &:focus {
      outline: $brainflix-mercury;
    }

    &:active {
      outline: $brainflix-black;
    }

    &:invalid {
      outline: $brainflix-formerror;
    }

    @include tablet {
      margin: 0 2rem 0 0;
      height: 40px;
      width: 100vh;
    }

    @include desktop {
      width: 50vh;
    }
  }
}

// POST
.post {
  padding: $padding-2 1rem;

  @include tablet {
    padding: $padding-1;
  }

  @include desktop {
    padding-right: 0;
  }

  &__desktop {
    @include desktop {
      width: 78%;
      margin: 0 auto;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem 0;
    border-top: 1px solid $brainflix-mercury;
    border-bottom: 1px solid $brainflix-mercury;

    @include tablet {
      justify-content: space-between;
    }

    @include desktop {
      padding-right: 1rem;
    }
  }

  &__img {
    margin: 0 auto;
    border-radius: 50%;
    background-color: $brainflix-mercury;
    width: 2.25rem;
    height: 2.25rem;

    @include tablet {
      width: 2.8125rem;
      height: 2.8125rem;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    width: 80%;
  }

  &__title {
    font-size: $body-copy-2;
    color: $brainflix-black;

    @include tablet {
      font-size: $body-copy;
    }
  }

  &__date {
    font-size: 0.813rem;
    color: $brainflix-silver;
  }

  &__text {
    font-size: $body-copy-2;
    padding: 1rem 0;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
