@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.description {
  padding: $padding-2 1rem;

  @include tablet {
    padding: $padding-1;
  }

  @include desktop {
    padding-right: 0;
  }

  &__desktop {
    @include desktop {
      padding: 0 0 0 8.5rem;
    }
  }

  &__title {
    font-size: $heading-2;
    font-weight: 600;
    padding-bottom: 0.8rem;

    @include tablet {
      font-weight: 700;
      padding-bottom: 0;
      font-size: $heading-1;
    }
  }

  &__details {
    @include flex-center;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid $brainflix-mercury;
    border-bottom: 1px solid $brainflix-mercury;

    @include tablet {
      padding: 0 1rem 0 0;
      border-top: none;
    }
  }

  &__left {
    @include tablet {
      display: flex;
    }
  }

  &__right {
    @include tablet {
      display: flex;
    }
  }

  &__channel {
    font-size: $body-copy-2;
    font-weight: 700;
    padding: 1rem 0;

    @include tablet {
      padding: 0.2rem 0;
    }
  }

  &__fade {
    color: $brainflix-silver;
    font-size: 14px;
    @include tablet {
      padding: 0.2rem 1rem;
    }
  }

  &__p {
    padding: 1rem 0;

    @include tablet {
      @include flex-center;
      padding: 1rem;
    }
  }

  &__icon {
    padding-right: 0.5rem;
  }

  &__content {
    padding: 1rem 0;
    font-size: $body-copy-2;
    font-weight: 500;
    line-height: 1.5;

    @include tablet {
      padding-right: 1rem;
      font-size: $body-copy;
    }
  }
}
