/* @media screen and (min-width: 768px) {
  .app {
    display: flex;
    height: fit-content;
  }
} */

.app {
  display: flex;
}

.app__left {
  width: 60%;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

.app__right {
  width: 40%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .app__left,
  .app__right {
    width: 100%;
  }
}
